.main
{
  width: 400px;
  height: 200px;
  background-color: blueviolet;
  position: relative;
}
.boxtop
{
  width:100px;
  height: 100px; 
  background-color: azure;
  position: absolute;
  top: 0;
  right: 0;

}
.boxbutton
{
  width:100px;
  height: 100px; 
  background-color: azure;
  position: absolute;
  bottom: 0;
  left: 0;
}